
#container {
    width: 1600px;
    height: 900px;
    align-content: center;
    background-color: dimgray; 
    padding: 20px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#img1{
    position: absolute; left: 60px; top: 120px;
        
}